[submodule "zoos/bindings_zoo"]
	path = zoos/bindings_zoo
	url = https://github.com/ParisNeo/lollms_bindings_zoo.git
	branch = main
[submodule "zoos/personalities_zoo"]
	path = zoos/personalities_zoo
	url = https://github.com/ParisNeo/lollms_personalities_zoo.git
	branch = main
[submodule "zoos/models_zoo"]
	path = zoos/models_zoo
	url = https://github.com/ParisNeo/models_zoo.git
	branch = main
[submodule "lollms_core"]
	path = lollms_core
	url = https://github.com/ParisNeo/lollms.git
	branch = main
[submodule "utilities/safe_store"]
	path = utilities/safe_store
	url = https://github.com/ParisNeo/safe_store.git
	branch = main
[submodule "utilities/pipmaster"]
	path = utilities/pipmaster
	url = https://github.com/ParisNeo/pipmaster.git
	branch = main
[submodule "zoos/functions_zoo"]
	path = zoos/functions_zoo
	url = https://github.com/ParisNeo/lollms_functions_zoo.git
	branch = main
[submodule "zoos/services_zoo"]
	path = zoos/services_zoo
	url = https://github.com/ParisNeo/lollms_services_zoo.git
	branch = main
