[submodule "zoos/extensions_zoo"]
	path = zoos/extensions_zoo
	url = https://github.com/ParisNeo/lollms_extensions_zoo.git
	branch = main
[submodule "zoos/bindings_zoo"]
	path = zoos/bindings_zoo
	url = https://github.com/ParisNeo/lollms_bindings_zoo.git
	branch = main
[submodule "zoos/personalities_zoo"]
	path = zoos/personalities_zoo
	url = https://github.com/ParisNeo/lollms_personalities_zoo.git
	branch = main
