colorama
datasets
einops
jinja2==3.1.6
numpy>=1.26.0
pandas
Pillow>=9.5.0
pyyaml
requests
rich
safetensors==0.4.1
scipy
sentencepiece
tensorboard
transformers>=4.37.*
tqdm
setuptools
tqdm
psutil
pytest
GitPython
ascii_colors>=0.1.4
beautifulsoup4
packaging

fastapi
uvicorn
python-multipart
python-socketio
python-socketio[client]
python-socketio[asyncio_client]

pydantic
selenium
tiktoken