setuptools
pyyaml
numpy
gevent-websocket
websocket-client
eventlet
tqdm
psutil
pytest
gevent
requests
GitPython
ascii_colors>=0.1.4
beautifulsoup4
packaging

fastapi
uvicorn
python-multipart
python-socketio
python-socketio[client]
python-socketio[asyncio_client]