flask
flask_socketio
nomic
pytest
pyyaml
markdown
pyllamacpp==2.0.0
gpt4all-j==0.2.1
--find-links https://download.pytorch.org/whl/cu117
torch==2.0.0
torchvision
torchaudio
transformers
accelerate
gevent
gevent-websocket
pyaipersonality