colorama
numpy==1.24.*
pandas
Pillow>=9.5.0
pyyaml
requests
rich
scipy
tqdm
setuptools
psutil
pytest
GitPython
ascii_colors>=0.1.4
beautifulsoup4
packaging

fastapi
uvicorn
python-multipart
python-socketio
python-socketio[client]
python-socketio[asyncio_client]

pydantic
selenium