numpy==1.26.*
requests
albumentations
diffusers
opencv-python
pudb
invisible-watermark
imageio
imageio-ffmpeg
pytorch-lightning==1.6.5
omegaconf
test-tube>=0.7.5
streamlit>=0.73.1
einops
torch-fidelity
transformers
torchmetrics
kornia
taming-transformers
timm
fairscale
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip