recursive-include lollms/configs *
recursive-include lollms/apps/playground/dist *
recursive-include lollms/apps/playground/public *
recursive-include lollms/apps/playground/presets *
global-exclude *.bin
global-exclude *.bin
global-exclude *.pyc
global-exclude local_config.yaml
global-exclude global_paths_cfg.yaml
global-exclude .installed
global-exclude .git
global-exclude .gitignore