/* Custom font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lollms-title: LoLLMS;
  --falling-object: "";
  --activate-dropping-animation: 0;
  --lollms-welcome-short-message: Welcome to LoLLMs;
  --lollms-welcome-message:  Dive into the sweet world of LoLLMs - where AI meets delicious innovation! 🍓🤖 We're here to make your digital experience as juicy and satisfying as a perfectly ripe strawberry. From natural language processing to multimodal tasks, LoLLMs is your one-stop AI assistant. Let's cultivate brilliant ideas together!;
}
@layer base {
  html {
    @apply scroll-smooth;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'PTSans';
    src: url('./fonts/PTSans/PTSans-Regular.ttf') format('truetype');
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.display-none {
  @apply hidden;
}

h1 { @apply text-4xl md:text-5xl font-bold text-gray-800 dark:text-gray-200 mb-6; }
h2 {
@apply text-3xl font-semibold text-gray-700 dark:text-gray-300 mb-4;
}

h3 {
@apply text-2xl font-medium text-gray-600 dark:text-gray-400 mb-3;
}

h4 {
@apply text-xl font-medium text-gray-500 dark:text-gray-500 mb-2;
}

/* Optional: Add a subtle bottom border to headers for added distinction */
h1, h2{
@apply border-b border-gray-200 dark:border-gray-700 pb-2;
}

p {
  @apply text-base text-gray-600 dark:text-gray-400 break-words;
}

/* Base list styling */
ul, ol {
  @apply 
      my-4          /* Margin top and bottom */
      px-4          /* Horizontal padding */
      leading-7     /* Line height */
      text-base;    /* Text size */
}

/* Unordered lists */
ul {
  @apply 
      list-disc     /* Disc style bullets */
      ml-2          /* Left margin */
      space-y-2;    /* Vertical spacing */
}

/* List items */
li {
  @apply 
      pl-2         /* Padding left */
      relative;    /* Positioning */
}

/* Ordered lists */
ol {
  @apply 
      list-decimal  /* Numbered style */
      ml-2          /* Left margin */
      space-y-2;    /* Vertical spacing */
}

/* Nested lists */
ul ul, ol ol, ul ol, ol ul {
  @apply 
      mt-2         /* Top margin */
      mb-0         /* Bottom margin */
      ml-6;        /* Indentation */
}

/* For custom properties that aren't available in Tailwind, use regular CSS */
li::marker {
  color: #4B5563; /* gray-600 equivalent */
}


:root {
  --color-primary: #d97706;
  --color-primary-light: #fbbf24;
  --color-secondary: #b45309;
  --color-accent: #92400e;
  --color-light-text-panel: #fef3c7;
  --color-dark-text-panel: #78350f;
  --color-bg-light-panel: #fef3c7;
  --color-bg-light: #fffbeb;
  --color-bg-light-tone: #fde68a;
  --color-bg-light-code-block: #fef3c7;
  --color-bg-light-tone-panel: #fbbf24;
  --color-bg-light-discussion: #fffbeb;
  --color-bg-light-discussion-odd: #fef3c7;
  --color-bg-dark: #292524;
  --color-bg-dark-tone: #44403c;
  --color-bg-dark-tone-panel: #57534e;
  --color-bg-dark-code-block: #78350f;
  --color-bg-dark-discussion: #44403c;
  --color-bg-dark-discussion-odd: #292524;
}

/* For both textarea and input elements */
textarea, input, select {
  @apply bg-gray-100 dark:bg-gray-800;
}

.background-color {
  @apply bg-gradient-to-br from-amber-50 to-amber-100 dark:from-gray-900 dark:to-gray-800 min-h-screen;
}

.toolbar-color {
  @apply  text-gray-800 dark:text-gray-200 bg-gradient-to-r from-amber-100 to-amber-200 dark:from-gray-800 dark:to-gray-700 rounded-full shadow-lg
}

.panels-color {
  @apply text-gray-800 dark:text-gray-200 bg-gradient-to-r from-amber-50 to-amber-100 dark:from-gray-800 dark:to-gray-700 rounded shadow-lg;
}

.unicolor-panels-color {
  @apply bg-amber-100 dark:bg-gray-800
}

.chatbox-color {
  @apply bg-gradient-to-br from-amber-100 to-amber-200 dark:from-gray-800 dark:to-gray-700
}

/* Base message styling */ 
.message { @apply relative w-full rounded-lg m-2 shadow-lg border border-gray-200 dark:border-gray-700 flex flex-col flex-grow flex-wrap overflow-visible p-5 pb-3 text-lg; }
.message:hover {
@apply border-amber-300 dark:border-amber-700;
}

/* Light theme */
.message {
@apply bg-amber-50 text-gray-800;
}

/* Dark theme */
.dark .message {
@apply bg-gray-800 text-gray-200;
}

/* Alternating backgrounds for better distinction */
.message:nth-child(even) {
@apply bg-amber-100 dark:bg-gray-700;
}

.message:nth-child(odd) {
@apply bg-amber-50 dark:bg-gray-800;
}

/* Additional styling for more professional look */
.message-header {
@apply text-xl font-semibold mb-2;
}

.message-content {
@apply text-lg leading-relaxed;
}

/* Body styling */
body {
@apply bg-gradient-to-br from-amber-50 to-amber-100 dark:from-gray-900 dark:to-gray-800 min-h-screen text-base;
}

.discussion{
  @apply mr-2 bg-gradient-to-r from-amber-200 to-amber-300 dark:from-gray-700 dark:to-gray-600 hover:from-amber-100 hover:to-amber-200 hover:dark:from-gray-600 hover:dark:to-gray-500
}

.discussion-hilighted{
  @apply bg-gradient-to-r from-amber-100 to-amber-200 dark:from-gray-700 dark:to-gray-600 hover:from-amber-50 hover:to-amber-100 hover:dark:from-gray-600 hover:dark:to-gray-500
}

.bg-gradient-welcome {
  @apply bg-gradient-to-br from-amber-50 to-amber-100 dark:from-gray-900 dark:to-gray-800;
}

.bg-gradient-progress {
  @apply bg-gradient-to-r from-amber-100 to-amber-200 dark:from-gray-800 dark:to-gray-700;
}

.text-gradient-title {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-amber-600 to-amber-500 dark:from-amber-400 dark:to-amber-300;
}

.text-subtitle {
  @apply text-gray-600 dark:text-gray-400;
}

.text-author {
  @apply text-gray-500 dark:text-gray-500;
}

.text-loading {
  @apply text-gray-700 dark:text-gray-300;
}

.text-progress {
  @apply text-amber-600 dark:text-amber-400;
}

.btn-primary {
  @apply bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 rounded;
}

.btn-secondary {
  @apply bg-amber-300 hover:bg-amber-400 text-gray-800 font-bold py-2 px-4 rounded;
}

.card {
  @apply bg-white dark:bg-gray-800 rounded-lg shadow-md p-6;
}

.input {
  @apply bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-amber-500 dark:focus:ring-amber-400;
}

.label {
  @apply block text-sm font-medium text-gray-600 dark:text-gray-400 mb-1;
}

.link {
  @apply text-amber-600 hover:text-amber-700 dark:text-amber-400 dark:hover:text-amber-300;
}

.navbar-container {
  @apply  text-gray-800 dark:text-gray-200 bg-gradient-to-r from-amber-100 to-amber-200 dark:from-gray-800 dark:to-gray-700 rounded shadow-lg
}

.game-menu {
  @apply flex justify-center items-center relative;
}

.text-shadow-custom {
  text-shadow: 1px 1px 0px #fef3c7, -1px -1px 0px #fef3c7, 1px -1px 0px #fef3c7, -1px 1px 0px #fef3c7;
}

.menu-item {
  @apply mb-2 px-4 py-2 text-gray-600 dark:text-gray-400 font-bold text-lg transition-all duration-300 ease-in-out;
  @apply hover:text-amber-600 hover:dark:text-amber-300 hover:transform hover:-translate-y-1;
}

.menu-item.active-link {
  @apply rounded-t-md border-amber-500 text-shadow-custom text-amber-700 font-bold text-lg transition-all duration-300 ease-in-out scale-105;
  @apply hover:text-amber-800 hover:dark:text-amber-200 hover:transform hover:-translate-y-1;
  /* Glow effect on text */
  text-shadow: 0 0 10px rgba(245, 158, 11, 0.3);
}

.menu-item.active-link::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #fbbf24, #f59e0b, #fbbf24); /* Softer amber colors */
  border-radius: 10px;
  animation: shimmer 2s infinite;
}

.dark .menu-item.active-link::before {
  background: linear-gradient(to right, #92400e, #b45309, #92400e); /* Dark mode softer amber colors */
}

@keyframes shimmer {
  0% { background-position: -100% 0; }
  100% { background-position: 100% 0; }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.feather-emoji {
  display: inline-block;
  margin-left: 5px;
  animation: bounce 2s infinite;
}

@keyframes lightsaber {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.app-card {
  @apply transition-all duration-300 ease-in-out bg-gradient-to-br from-amber-50 to-amber-100 dark:from-gray-800 dark:to-gray-700 text-gray-800 dark:text-gray-200 border rounded-xl shadow-lg p-6 hover:shadow-xl;
}

.app-card:hover {
  @apply transform -translate-y-1;
}

button {
  @apply transition-all duration-300 ease-in-out;
}

button:hover {
  @apply transform -translate-y-0.5;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.amber.300') theme('colors.amber.100');
}

.dark .scrollbar-thin {
  scrollbar-color: theme('colors.gray.600') theme('colors.gray.800');
}

.scrollbar-thin::-webkit-scrollbar {
  @apply w-2;
}

.scrollbar-thin::-webkit-scrollbar-track {
  @apply bg-amber-100 dark:bg-gray-800 rounded-full;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-amber-300 dark:bg-gray-600 rounded-full;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  @apply bg-amber-400 dark:bg-gray-500;
}

.btn {
  @apply font-semibold py-2 px-4 rounded-lg transition-all duration-300 ease-in-out shadow-md flex items-center;
}

.btn-primary {
  @apply bg-amber-500 text-white hover:bg-amber-600 focus:ring-4 focus:ring-amber-300 dark:focus:ring-amber-700;
}

.btn-secondary {
  @apply bg-amber-200 text-gray-800 hover:bg-amber-300 focus:ring-4 focus:ring-amber-200 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600 dark:focus:ring-gray-600;
}

.search-input {
  @apply w-full border-b-2 border-amber-200 dark:border-gray-700 py-2 px-4 pl-10 transition-colors duration-300 ease-in-out focus:outline-none focus:border-amber-500 dark:focus:border-amber-400 bg-transparent text-gray-800 dark:text-gray-200;
}

.scrollbar {
  @apply scrollbar-thin scrollbar-track-bg-light-tone scrollbar-thumb-bg-light-tone-panel hover:scrollbar-thumb-primary dark:scrollbar-track-bg-dark-tone dark:scrollbar-thumb-bg-dark-tone-panel dark:hover:scrollbar-thumb-primary active:scrollbar-thumb-secondary
}

.card-title {
  @apply text-xl font-bold text-gray-800 dark:text-gray-200 mb-2;
}

.card-content {
  @apply text-gray-600 dark:text-gray-400;
}

.card-footer {
  @apply mt-4 flex justify-between items-center;
}

.card-footer-button {
  @apply bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 rounded;
}

/* Subcard styles */
.subcard {
  @apply bg-amber-50 dark:bg-gray-700 rounded-lg shadow-md p-4;
}

.subcard-title {
  @apply text-lg font-bold text-gray-800 dark:text-gray-200 mb-2;
}

.subcard-content {
  @apply text-gray-600 dark:text-gray-400;
}

.subcard-footer {
  @apply mt-4 flex justify-between items-center;
}

.subcard-footer-button {
  @apply bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 rounded;
}

.interesting-facts{
  @apply mt-6 mb-6 p-4 bg-white/80 dark:bg-gray-800/80 rounded-lg shadow-lg transform hover:scale-105 
}

.animated-progressbar-bg {
  @apply w-full h-10 relative overflow-hidden bg-gradient-to-r from-amber-950 to-amber-900 dark:from-black dark:to-amber-950 rounded-sm shadow-[0_0_15px_rgba(245,158,11,0.2)]
}

.animated-progressbar-fg {
  @apply absolute top-0 left-0 h-full bg-gradient-to-r from-amber-500 to-amber-400 dark:from-amber-400 dark:to-amber-500 transition-all duration-300
  [background-image:repeating-linear-gradient(90deg,transparent,transparent_5px,rgba(0,0,0,0.1)_5px,rgba(0,0,0,0.1)_10px)]
}

.lollms-title-style {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2), 
               2px 2px 0px #fffbeb, 
               -2px -2px 0px #fffbeb, 
               2px -2px 0px #fffbeb, 
               -2px 2px 0px #fffbeb;
  background: linear-gradient(45deg, #d97706, #fbbf24);
  -webkit-background-clip: text;
  background-clip: text;
  color: #f59e0b;
}

.chat-bar {
  @apply relative text-amber-300 dark:text-amber-100 grow flex cursor-pointer select-none items-center gap-2 bg-amber-900 dark:bg-black p-1 shadow-sm hover:shadow-none dark:border-amber-700;
  height: 50px;
  transition: all 0.3s ease;
}

.chat-bar:hover {
  box-shadow: 0 4px 6px -1px rgba(255, 191, 0, 0.1), 0 2px 4px -1px rgba(255, 191, 0, 0.06);
}

.chat-bar-button{
  @apply text-amber-200 dark:text-amber-100 p-2 rounded-full transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500
}

.chat-bar-button:hover{
  @apply bg-amber-200 dark:bg-amber-700
}

.chat-bar-button:active{
  @apply bg-amber-300 dark:bg-amber-600
}

.nav-button{
  @apply px-3 py-2 rounded-md text-sm font-medium transition-colors duration-200 ease-in-out hover:bg-amber-100 hover:text-amber-700 dark:hover:bg-amber-700 text-amber-200 dark:text-amber-100
}

.nav-button-active{
  @apply bg-amber-500 text-gray-100 hover:bg-amber-600 dark:bg-amber-600 dark:hover:bg-amber-700
}

.svg-button{
  @apply text-amber-600 dark:text-amber-300 p-2 rounded-full transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500
}

.svg-button:hover{
  @apply bg-amber-200 dark:bg-amber-700
}

.svg-button:active{
  @apply bg-amber-300 dark:bg-amber-600
}

.nav-button{
  @apply px-3 py-2 rounded-md text-sm font-medium transition-colors duration-200 ease-in-out hover:bg-amber-100 dark:hover:bg-amber-700 text-amber-700 dark:text-amber-300
}

.nav-button-active{
  @apply bg-amber-500 text-white hover:bg-amber-600 dark:bg-amber-600 dark:hover:bg-amber-700
}

.btn-on{
  @apply text-amber-500 dark:text-amber-400
}

.btn-off{
  @apply text-red-500 dark:text-red-400
}

.interesting-facts{
  @apply mt-6 mb-6 p-4 bg-amber-50/80 dark:bg-amber-900/80 rounded-lg shadow-lg transform hover:scale-105 
}

.toolbar-button {
  @apply bg-transparent border-none cursor-pointer p-2 transition-colors duration-300;
}
  
.toolbar-button:hover {
  @apply text-amber-500;
}

.context-menu {
  @apply absolute bg-opacity-90 bg-amber-900 border border-amber-500 shadow-lg shadow-amber-500/50 rounded-none py-2 min-w-[150px] z-[1000] font-mono;
  
  @apply dark:bg-opacity-90 dark:bg-amber-950 dark:border-amber-400 dark:shadow-amber-400/50;
}

.context-menu::before {
  @apply content-[''] absolute inset-0 bg-gradient-to-b from-amber-500/10 via-amber-500/5 to-transparent bg-[length:100%_1000px]  opacity-30 -z-10;
}

.context-menu-item {
  @apply px-4 py-2 text-sm text-amber-500 cursor-pointer transition-all duration-300 ease-in-out shadow-amber-500/70;
  
  @apply hover:bg-amber-500/20 hover:scale-105;
  
  @apply dark:text-amber-400 dark:hover:bg-amber-400/20;
}

.context-menu-separator {
  @apply h-px bg-amber-500 my-1 shadow-amber-500;
  
  @apply dark:bg-amber-400 dark:shadow-amber-400;
}

.context-menu-item-disabled {
  @apply text-amber-800 cursor-not-allowed shadow-none;
  
  @apply dark:text-amber-700;
}

.context-menu-item-icon {
  @apply mr-2 text-amber-500;
  
  @apply dark:text-amber-400;
}

.context-menu-item::after {
  @apply content-[''] absolute left-0 bottom-0 w-full h-px bg-gradient-to-r from-transparent via-amber-500 to-transparent scale-x-0 origin-center transition-transform duration-300 ease-in-out;
  
  @apply dark:via-amber-400;
}

.context-menu-item:hover::after {
  @apply scale-x-100;
}

@keyframes matrix-rain {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1000px;
  }
}
