/* Wait animation */ 
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 8px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 4px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 16px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 28px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 34px;
  }
  50%, 100% {
    top: 12px;
    height: 18px;
  }
}

.activeDiscussion {
  background-color: #16a34a; /*Equivalent to bg-green-600*/
}

:root {
    --color-primary-light: #ffffff;
    --color-secondary-light: #f2f2f2;
    
    --color-primary-dark: #1a1a1a;
    --color-secondary-dark: #333333;
  }

  /* Default light mode styles */
  .text-primary {
    color: var(--color-primary-light);
  }
  
  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    .mode-dark .text-primary {
      color: var(--color-primary-dark);
    }
  }
  