
<form id="model-params-form" class="bg-gray-50 dark:bg-gray-700 shadow-md rounded px-8 py-8 pt-6 pb-8 mb-4 text-black dark:text-white">
    <div></div>
    <div class="mb-4">
        <button type="submit" id="submit-model-params" class="my-1 mx-1 outline-none px-4 bg-accent rounded-md bg-gray-500 hover:bg-gray-300 transition-colors ease-in-out">save extensions settings</button>
    </div>
</form>

<footer class="bottom-0 text-black dark:text-white">
    This section is under development. Stay tuned.<br>
    To have a glimpse of what extensions and options will be added, please look at my chatgpt-personality-selector google chrome extension:<br>
    <br>
    * <a href="https://chrome.google.com/webstore/detail/chatgpt-personality-selec/jdmpccdlifdkhniemenfmieffkdblahk?hl=en">https://chrome.google.com/webstore/detail/chatgpt-personality-selec/jdmpccdlifdkhniemenfmieffkdblahk?hl=en</a>
    <br>
    <br>
    After installing the extension, go to <a href="chat.openai.com/chat"/> and the extension popup will apear.<br>
    All personalities will be implemented to gpt4All and can be used with any llamacpp or gpt-j model.     
</footer>
