<!DOCTYPE html>
<html  class="mode-dark">
<head>
    <meta charset="utf-8">
    <title>GPT4All - WEBUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwindcss.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

</head>
<body class="w-screen h-500 bg-primary text-gray-400 flex flex-col bg-gray-900">
    <div class="w-full h-50 border-b border-accent bg-tertiary text-2xl font-bold flex justify-between items-center px-6 py-6">
        <div class="w-12 h-12"><a href="#main"><img src="{{ url_for('static', filename='images/icon.png') }}"></a></div>
        <h1>GPT4All - WEBUI</h1>
    </div>
    <div class="border-b border-gray-800 content-center items-center">
        <ul class="flex border-b border-gray-800 content-center items-center">
          <li class="mr-1">
            <a href="#main" class="bg-gray-700 text-gray-200 py-2 px-4 rounded-t-md font-medium hover:bg-gray-200 hover:text-black" id="main-link">Main</a>
          </li>
          <li class="mr-1">
            <a href="#settings" class="bg-gray-700 text-gray-200 py-2 px-4 rounded-t-md font-medium hover:bg-gray-200 hover:text-black" id="settings-link">Settings</a>
          </li>
          <li class="mr-1">
            <a href="#extensions" class="bg-gray-700 text-gray-200 py-2 px-4 rounded-t-md font-medium hover:bg-gray-200 hover:text-black" id="extensions-link">Extensions</a>
          </li>
          <li class="mr-1">
            <a href="#training" class="bg-gray-700 text-gray-200 py-2 px-4 rounded-t-md font-medium hover:bg-gray-200 hover:text-black" id="training-link">Training</a>
          </li>
          <li class="mr-1">
            <a href="#help" class="bg-gray-700 text-gray-200 py-2 px-4 rounded-t-md font-medium hover:bg-gray-200 hover:text-black" id="help-link">Help</a>
          </li>
        </ul>
    </div>
    <div id="main" class="tab-pane overflow-hidden flex flex-row w-full h-full relative flex">
    </div>
    <div class="tab-pane" id="settings" style="display: none;">
    </div>
    <div class="tab-pane" id="extensions" style="display: none;">
    </div>
    <div class="tab-pane" id="training" style="display: none;">
    </div>
    <div class="tab-pane" id="help" style="display: none;">

    </div>
    <footer class="border-t border-accent flex">
    </footer>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/discussions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/extensions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/training.js') }}"></script>
    <script src="{{ url_for('static', filename='js/help.js') }}"></script>

    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/db_export.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
    
</body>
</html>
