<div class="flex h-screen w-screen">
    <div class="w-1/4 flex flex-col border-black dark:border-gray-600 border-r-4 border-t-4 rounded bg-gray-50 dark:bg-gray-700 text-white h-full overflow-hidden">
      <div id="action-buttons" class="flex-shrink-0 h-10 ml-1.5 mt-2 mb-4">
        <button id="new-discussion-btn" class="px-4 py-4 rounded border-black border-2 bg-gray-400 dark:bg-gray-700 dark:border-transparent hover:bg-gray-600 dark:hover:bg-gray-600">
          <img src="/static/images/new_message.png" class="w-5 h-5">
        </button>
        <button id="reset-discussions-btn" class="px-4 py-4 rounded border-black border-2 bg-gray-400 dark:bg-gray-700 dark:border-transparent hover:bg-gray-600 dark:hover:bg-gray-600">
          <img src="/static/images/reset_db.png" class="w-5 h-5">
        </button>
        <button value="Export" id="export-button" class="px-4 py-4 rounded border-black border-2 bg-gray-400 dark:bg-gray-700 dark:border-transparent hover:bg-gray-600 dark:hover:bg-gray-600">
          <img src="/static/images/export_database.png" class="w-5 h-5">
        </button>
        <button value="Export-discussion" id="export-discussion-button" class="px-4 py-4 rounded border-black border-2 bg-gray-400 dark:bg-gray-700 dark:border-transparent hover:bg-gray-600 dark:hover:bg-gray-600">
          <img src="/static/images/export_discussion.png" class="w-5 h-5">
        </button>
      </div>
      <div class="flex-shrink-0 p-0 ml-1.5">
        <h1 class="font-bold font-large text-black dark:text-white">Discussions</h1>
      </div>
      <div class="flex-1 overflow-y-auto p-0">
        <div id="discussions-list" class="pb-96" >
        </div>
      </div>
    </div>
    <div class="flex-1 flex flex-col overflow-hidden">
      <div class="border-t-4 border-l-4 border-black dark:border-gray-600 flex-shrink-0 p-4 bg-gray-50 dark:bg-gray-700 text-black dark:text-white">
        <h1 class="font-bold font-large">Chat box</h1>
      </div>
      <div class="flex-grow overflow-y-auto p-0 border-4 border-t-0 border-black dark:border-gray-600 bg-gray-50 dark:bg-gray-700 rounded">
        <div id="chat-window" class="pb-96">
        </div>
      </div>
    </div>
  </div>
  <div class="w-full mx-2 flex flex-row bottom-0 fixed rounded-md shadow shadow-white border-4 border-black dark:border-gray-800 bg-gray-300 dark:bg-gray-500 flex-wrap">
    <form id="chat-form" class="w-full flex-row text-white mr-15 p-15">
      <input type="text" id="user-input" placeholder="Type your message..." class="dark:bg-gray-600 px-2 py-1 my-1 mx-1 text-black dark:text-white outline-none drop-shadow-sm w-full rounded-md flex-1">
      <div id="wait-animation" style="display: none;" class="lds-facebook bg-secondary my-1 mx-1 outline-none drop-shadow-sm w-full rounded-md p-2"><div></div><div></div><div></div></div>
      <input type="submit" value="Send" id="submit-input" class="my-1 mx-1 outline-none px-4 dark:bg-gray-900 text-black dark:text-white rounded-md hover:bg-[#7ba0ea] active:bg-[#3d73e1]  transition-colors ease-in-out">
    </form>
  </div>
