@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'PTSans';
    src: url('./fonts/PTSans/PTSans-Regular.ttf') format('truetype');
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

}
.display-none {
  @apply hidden;
}


h1 {
  font-size: 36px;
  font-weight: bold;
}



h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-style: italic;
}

/* Include any additional styles you need */
p {
  font-size: 16px;
  word-wrap: break-word;  
  overflow-wrap: break-word;
  white-space: normal;
}

ul {
  list-style-type: disc;
  margin-left: 0px;
}

li {
  list-style-type: disc;
  margin-left: 20px;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}


:root {
  --color-primary: #0e8ef0;
  --color-primary-light: #3dabff;
  --color-secondary: #0fd974;
  --color-accent: #f0700e;
  --color-bg-dark: #132e59;
  --color-bg-dark-tone: #25477d;
  --color-bg-dark-tone-panel: #4367a3;
  --color-bg-dark-code-block: #2254a7;
  --color-bg-light: #e2edff;
  --color-bg-light-tone: #b9d2f7;
  --color-bg-light-code-block: #cad7ed;
  --color-bg-light-tone-panel: #8fb5ef;
  --color-bg-dark-discussion: #435E8A;
  --color-bg-dark-discussion-odd: #284471;
  --color-bg-light-discussion: #c5d8f8;
  --color-bg-light-discussion-odd: #d6e7ff;
}